*{
    padding: 0;
    margin: 0;
    font-family: 'Times New Roman';
}
a{
    color: inherit;
    text-decoration: none;
}
.medsos{
    padding: 1px 0;
    background-color: darkcyan;
}
.medsos ul li{
    display: inline-block;
    color:white;
    margin-right: 10px;
}
.contentwrapper{
    width: 80%;
    margin: 0 auto;
}
.contentwrapper:after{
    content: '';
    display: block;
    clear: both;
}
.logo img{
    display: inline-block;
    padding: 15px; 
    width: 35px;
    height: auto;
    float:left;
}
header h1{
    float: left;
    padding: 10px;
    color: darkcyan;
}

header ul{
    float: right;
}
header ul li{
    display: inline-block;
}
header ul li a{
    padding: 25px 20px;
    display: inline-block;

}
header ul li a:hover{
    background-color: darkcyan;
    color: white;
}
.active{
    background-color: darkcyan;
    color: white;
}
.banner{
    height: 80vh;
    background-image: url(alun\ alun\ banyumas.JPG);
    background-size: cover;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.banner h2{
    color: seashell;
    z-index: 1;
    padding: 20px 25px;
    border: 3px solid;
}
body ul li{
    padding: 20px;
    text-justify: auto;
    text-align: justify;
}
body h3{
    margin-top: 10px;
}
body ul h4{
    padding: 20px;
    
}
body h3 ul li{
    padding: 20px;
    text-align: justify;
    text-justify:auto;

}
.tabel{
    border-collapse: collapse;
    border-color:#000;
    width: 80%;
    margin: auto;
    padding: 20px;
    text-align: left;
    float: center;
}
th td{
    border: 1px solid #000;
    padding: 8px;
    vertical-align: top;

}
